<h1><%= @mechanic.name %></h1>
<h3>Years of Experience: <%= @mechanic.years_experience %>

<section id="rides">
  <h3>Rides Responsible:</h3>
    <% @mechanic.rides.each do |ride| %>
      <%= ride.name %>
    <% end %>
</section>  