<h1><%= @mechanic.name %></h1>
<p>Years of Expericnce: <%= @mechanic.years_experience %>

<div id="rides">
  <h3>Rides Being Maintained</h3>
  <% @rides.each do |ride| %>
    <p><%= ride.name %></p>
  <% end %>
</div>