<h1><%= "Mechanic ##{@mechanic.id}" %></h1>
<h2><%= "#{@mechanic.name}" %></h2>
<p><%= "Years Experience: #{@mechanic.years_experience}" %></p>
<h3>Rides Working On:</h3>
<% @mechanic.rides.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>