<h3><%= @amusement_park.name %></h3>
<p><%= "Admission Price: #{@amusement_park.admission_cost}" %></p>

<h2>Mechanics</h2>
<ul>
<% @amusement_park.mechanics_working_on_rides.each do |mechanic|%>
  <li><%= mechanic.name %></li>
<% end %>
</ul>