<h1>Amusement Park Show</h1>
<h2>Amusement Park: <%= @amusement_park.name %> </h2>
<h2>Price of Admission: <%= number_to_currency(@amusement_park.admission_cost) %> </h2>
<div id=amusement-park-mechanics><h3>Mechanics working at Park:</h3>
  <ul>
    <% @amusement_park_mechanics.each do |mechanic| %>
      <li><%= mechanic.name %></li>
    <% end %>
  </ul>
</div>
