<h1>Amusement Park's Show Page</h1>

<p>Name: <%= @park.name %></p>
<p>Admission Cost: <%= @park.admission_cost %></p>

<h4>Mechanics at Work:</h4>
<ul>
  <% @park.park_mechanics.each do |park_mechanic| %>
    <li><%= park_mechanic.name %></li>
  <% end %>
</ul>

<h4>Rides:</h4>
<ul>
  <% @park.rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>
</ul>