<h1><%= @park.name %></h1>
<p>Price of Admissions: $<%= @park.admission_cost %></p>

<h2>Mechanics:</h2>
<% @park.unique_mechanics.each do |mechanic| %>
<ul>
  <li><%= mechanic.name %></li>
</ul>
<% end %>